* { margin: 0; padding: 0; }
body {
  font-family: 'Product Sans', Arial, sans-serif;
  background-color: #eee;
  display: table;
  width: 100%;
  height: 100vh;
}
body>div {
  display: table-row;
  height: 100%;
}

.erreur404 { text-align: center; font-size: 50px; display: table-cell; vertical-align: middle; }
.erreur404 .subtext { font-size: 50px; line-height: 25px; }

#header {
  width: 100%;
  height: 56px;
  background-position: center;
  background: url('src/headerTrans2.png') no-repeat center, linear-gradient(90deg, #dddddd, #dddddd 49.9%, #f5a320 50.1%) no-repeat;
  text-align: center;
}
.wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  text-align: left;
}
.seprote {
  margin: auto 0;
  height: 95%;
  display: inline-block;
}
.iutCB {
  margin: auto 0;
  height: 95%;
  display: inline-block;
}

#menuBar {
  display: table;
  height: 50px;
  min-width: 1000px;
  margin: 0 auto;
}

#menuBar ul {
  height: inherit;
  text-align: center;
}
#menuBar ul li {
  display: inline-block;
  height: inherit;
  line-height: 50px;
  font-size: 20px;
}
.itemName {
  display: table-cell;
  padding: 0 20px;
  vertical-align: middle;
  text-decoration: none;
  font-size: 2.25vh;
  color: #222;
  transition: color 0.1s linear;
}
.itemName:hover {
  color: #bbb;
}

/*MAIN*/
.mainWrap {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  padding: 15px 0;
}
.bonjour {
  display: table-row;
  width: inherit;
  height: 40px;
  text-align: center;
}
#content {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}
#left, #right {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}
#chart { display: inline-block; margin-bottom: 10px; }
.tabBtn, .pieBtn, .barBtn, .calendar { display: table-cell; }
/*END MAIN*/

footer {
  display: table;
  height: 25px;
  margin-top: 10px;
}
.aPropos { margin-left: 10px; }
.separator { margin: 0 10px; }